<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel = "stylesheet" href = "https://asn2-svq5.onrender.com/Style.css">

    </head>
    <body>
        <main>
            <h1>Students</h1>
                <div th:each = "student:${st}">
                    <div th:style = "'height: ' + ${student.height + 10} + 'px; width: ' + ${student.weight + 10} + 'px; border: 1px solid black; text-align: center; float: left; padding: 10px; margin: 10px'">
                        <span th:text = "${student.name}" th:style = "'color: ' + ${student.color}"></span>
                        <br>
                        <span th:text = "${student.number}"></span>
                        <br>
                        <span th:text = "${student.GPA}"></span>
                        <br>
                        <span th:text = "${student.birth}"></span>
                        <br>
                        <span th:text = "${student.units}"></span>
                    </div>
                </div>
        </main>
    </body>
</html>