@font-face {
    font-family: ComicSansMS;
    src: url(https://asn2-svq5.onrender.com/COMIC.TTF);
}

/* html, body, main, form, button {
    font-family: ComicSansMS;
    margin: auto;
} */

div, span, button, a, form, html, input, header, main, footer, body {
    font-family: ComicSansMS;
}

h1 {
    text-align: center;
    font-family: ComicSansMS;
}