@font-face {
    font-family: ComicSansMS;
    src: url(COMIC.TTF);
}

html, body, main, form, button {
    font-family: ComicSansMS;
    margin: auto;
}

div, span {
    font-family: ComicSansMS;
}

h1 {
    text-align: center;
}